<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div >
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="
            col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5
            text-center
            p-0
            mt-3
            mb-2
            body-form
          "
        >
          <div class="card px-0 pt-4 pb-0 mt-3 mb-3 body-form2">
            <h2 id="heading">veulliez vous inscrire  </h2>
            <p> remplir le formulaire ci-dessous</p>
            <form  [formGroup]="form1" id="msform">
              <ul id="progressbar">
                <li
                  [ngClass]="{ active: this.page === 0 }"
                  class="active"
                  id="account"
                >
                  <strong>1. Administrateur utilisateur</strong>
                </li>
                <li [ngClass]="{ active: this.page === 1 }" id="payment">
                  <strong>2. Administrateur profile </strong>
                </li>
                <li [ngClass]="{ active: this.page === 2}" id="personal">
                  <strong>3. Les services</strong>
                </li>
                <li [ngClass]="{ active: this.page === 3}" id="payment">
                  <strong>4. Documentation</strong>
                </li>
              </ul>
              <div class="progress">
                <div
                  class="
                    progress-bar progress-bar-striped progress-bar-animated
                  "
                  [style]="{width:(this.page+1)/4*100+'%'}"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <br />

                <div
                  [ngClass]="{ tab: true, active: this.page === 0 }"
                  [hidden]="this.page !== 0"
                >
                  <div class="row">
                    <div class="col-7">
                      <h2 class="fs-title">Account Information:</h2>
                    </div>
                    <div class="col-5">
                      <h2 class="steps">Step 1 - 4</h2>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="item">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">prénom</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre prénom" formControlName="lastname" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                      <mat-form-field class="example-full-width " >
                        <mat-label for="lname"  >nom</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre nom" formControlName="name" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">adresse e-mail</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre adresse e-mail" formControlName="adresseemail" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">numéro de téléphone</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre numéro de téléphone" formControlName="numtel" required>
                    </mat-form-field>
                    </div>
                    <div class="item" style="margin-top:40px ;">
                      <mat-form-field
                        appearance="fill"
                        class="example-full-width"
                      >
                        <mat-label>Type piéce d'identité</mat-label>
                        <mat-select
                          ngModel
                          formControlName="pjControl"
                          required
                        >
                          <mat-option
                            *ngFor="let piece of piece"
                            [value]="piece.value"
                          >
                            {{ piece.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                    <div class="item" style="margin-top: -20px;">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">numéro de piéce d'identité</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre numéro de téléphone" formControlName="numpiece" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                    <mat-form-field appearance="fill"  class="example-full-width">
                      <mat-label>La date d'expiration de la carte </mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="dateexp" required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    </div>
                    <div class="item" style="margin-top: -20px;">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">Adresse</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre numéro de téléphone" formControlName="adresse" required>
                    </mat-form-field>
                    </div>
                  </div>
                </div>

                <div [ngClass]="{ 'tab': true, 'active': this.page===2 } " [hidden]="this.page !==1 " >
                  <div class="row">
                    <div class="col-7">
                      <h2 class="fs-title">Account Information:</h2>
                    </div>
                    <div class="col-5">
                      <h2 class="steps">Step 1 - 4</h2>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="item">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">prénom</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre prénom" formControlName="lastnameprof" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                      <mat-form-field class="example-full-width " >
                        <mat-label for="lname"  >nom</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre nom" formControlName="nameprof" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">adresse e-mail</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre adresse e-mail" formControlName="adressemailprof" required>
                    </mat-form-field>
                    </div>
                    <div class="item">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">numéro de téléphone</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre numéro de téléphone" formControlName="numtelprof" required>
                    </mat-form-field>
                    </div>
                    <div  style="margin-top: -20px;">
                      <mat-form-field class="example-full-width">
                        <mat-label for="lname">Adresse</mat-label><br>
                        <input ngModel id="lname" matInput placeholder="taper voitre numéro de téléphone" formControlName="adresseprof" required>
                    </mat-form-field>
                    </div>
                  </div>
                </div>
                <div [ngClass]="{ 'tab': true, 'active': this.page===2 } " [hidden]="this.page !==2 " >
                  <h3>Step three</h3>
                  <div *ngIf="this.services !== null" style="background-color: gray !important;">

                    <div *ngFor="let service of this.services">
                      <div class="tryit">
                      <mat-slide-toggle (change)="addService(service)">

                        {{ service.identifier }}
                        {{ service.price }}

                      </mat-slide-toggle>
                    </div>
                    </div>

                  </div>
                  <span class="price">
                    Price: <span class="price-number">{{getFinalPrice()}}</span>
                  </span>
                </div>


                <div
                  [ngClass]="{ tab: true, active: this.page === 3}"
                  [hidden]="this.page !== 3"
                >
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="fs-title"> Import des documents :</h2>
                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 3 - 4</h2>
                      </div>
                    </div>

                    <div *ngIf="this.documents !== null" >
                      <div>
                        <ol>
                          <li *ngFor="let idoc of this.documents" (toggle)="adddoc(idoc)">
                            <div >

                            <label class="fieldlabels">Upload {{idoc.name}}:</label>
                         <input type="file" id="file" name="file" multiple />
                         </div>
                           </li>
                        </ol>
                      </div>
                      </div>


                  </div>

                </div>
              <div class="button_div">

                <button
                  type="button"
                  class="previous action-button-previous"
                  (click)="back()"
                  [disabled]="this.page < 1"
                >
                <i class="bi bi-arrow-right-circle"></i>prev
                </button>
                <button
                class="next action-button"
                  type="button"
                  (click)="this.next()"
                  [disabled]="this.page > 5"
                >
                  {{ this.page === 4 ? "Submit" : "next" }}
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
