* {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}

p {
  color: grey
}

#heading {
  text-transform: uppercase;
  color: #035096;
  font-weight: normal
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

.form-card {
  text-align: left
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: #3043af;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311B92
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000
}

.card {
  z-index: 0;
  border: none;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: #035096
  ;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left
}

.purple-text {
  color: #035096;
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  width: 630px;
  margin-left : 30px;
}

#progressbar .active {
  color: #035096
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 33%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar #account:before {
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  font-weight: 400;
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007"
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #035096
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: #035096
}


.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover,
input:hover::placeholder {
    color: #035096;
}

.item {
  margin-right: 20px !important;
  margin-left: 20px !important;
  width: 400px;
  float: left;
  position: relative;
  margin: 1px 0;
}

.item span {
    color: red;
}
.example-full-width {
  width: 80%;
}

.tryit {
 /* background-color: #311B92; */
  padding: 20px;

  float: left !important;
  margin: 10px;
  border: 1px solid;
  border-left: 4px solid blue;
  width: 280px;
}

.price {
  position: relative;
  bottom: -40px;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  border: 1px solid;
  border-left: 4px solid green;
}

.price-number {
  color: green;
}
.body-form {
  width: 900px;
  margin: 0 !important;
}

.body-form2 {

  padding-top: 0px !important;

}

.button_div {
  position: relative;
  top: 40px;
}
/deep/ .mat-slide-toggle-bar {
  background-color: rgb(163, 191, 233) !important;
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgb(22, 23, 126) !important;
}


form .email {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.email input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.email label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.email span::before {    position: absolute;
  top: 40px;
  left: 0px;
  width: 0%;
  height: 2px;
  background: #3a3cc5;
  transition: .5s;
}

.email input:focus~label,
.email input:valid~label {
  top: -5px;
  color: #3a3cc5;
}

.email input:focus~span::befor,
.email input:valid~span::before {
  width: 100%;
}
