<ng-container *ngIf="type == typeEnum.CANDIDAT">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="
          col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5
          text-center
          p-0
          mt-3
          mb-2
          body-form
        "
      >
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3 body-form2" id="msform">
          <h2 id="heading">veulliez vous inscrire</h2>
          <p>remplir le formulaire ci-dessous</p>
            <ul id="progressbar2">
              <li
                [ngClass]="{ active: this.page === 0 }"
                class="active"
                id="account"
              >
                <strong>1. Informations sur le profile</strong>
              </li>
              <li [ngClass]="{ active: this.page === 1 }" id="personal">
                <strong>2. Les services</strong>
              </li>
              <li [ngClass]="{ active: this.page === 2 }" id="payment">
                <strong>3. Documentation</strong>
              </li>
            </ul>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                [style]="{ width: ((this.page + 1) / 3) * 100 + '%' }"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <br />

            <div
              [ngClass]="{ tab: true, active: this.page === 0 }"
              [hidden]="this.page !== 0"
            >
            <form [formGroup]="formClient" (ngSubmit) ="submit()">

              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Account Information:</h2>

                </div>
                <div class="col-5">
                  <h2 class="steps">Step 1 - 4</h2>
                </div>
              </div>
              <div class="columns">
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">prénom</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre prénom"
                      formControlName="lastname"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">nom</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre nom"
                      formControlName="name"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">adresse e-mail</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre adresse e-mail"
                      formControlName="adresseemail"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">numéro de téléphone</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre numéro de téléphone"
                      formControlName="numtel"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item" style="margin-top: 40px">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Type piéce d'identité</mat-label>
                    <mat-select ngModel formControlName="pjControl" required>
                      <mat-option
                        *ngFor="let piece of piece"
                        [value]="piece.value"
                      >
                        {{ piece.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label
                      ><Label
                        >La date d'expiration de votre carte</Label
                      ></mat-label
                    >
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dateexp"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <span class="text-dager" *ngIf="submitted && !this.formClient.valid">form not valid</span>
              </form>
            </div>

            <div
              [ngClass]="{ tab: true, active: this.page === 1 }"
              [hidden]="this.page !== 1"
            >
            <form>
              <h3>Step Two</h3>
              <div
                *ngIf="this.services !== null"
                style="background-color: gray !important"
              >
                <div *ngFor="let service of this.services">
                  <div class="tryit">
                    <mat-slide-toggle (change)="addService(service)">
                      {{ service.identifier }}
                      {{ service.price }}
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <span class="price">
                Price: <span class="price-number">{{ getFinalPrice() }}</span>
              </span>
            </form>
            </div>

            <div
              [ngClass]="{ tab: true, active: this.page === 2 }"
              [hidden]="this.page !== 2"
            >
            <form>
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Import des documents :</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 3 - 4</h2>
                  </div>
                </div>

                <div *ngIf="this.documents !== null">
                  <div>
                    <ol>
                      <li
                        *ngFor="let idoc of this.documents"
                        (toggle)="adddoc(idoc)"
                        class="file-upload"
                      >
                        <div>
                          <label class="fieldlabels"
                            >Importer {{ idoc.name }}:</label
                          >
                          <input type="file" id="upload" hidden (change)="onFileChanges($event)" formControlName="files"/>
                          <label class="label-name" for="upload"
                            >Séléctionner le(s) fichier(s)</label
                          >
                          <span *ngIf="this.myFilesClient.length==0" id="file-chosen"
                            >Aucun fichier séléctionné</span
                          >
                          <span *ngIf="this.myFilesClient.length!==0" id="file-chosen"
                          >{{this.myFilesClient.length}}</span
                        >
                        </div>
                      </li>
                    </ol>
                  </div>
              </div>
            </div>
            </form>
            </div>
            <div class="button_div">
              <button
                type="button"
                class="previous action-button-previous"
                (click)="back()"
                [disabled]="this.page < 1"
              >
                <i class="bi bi-arrow-right-circle"></i>prev
              </button>
              <button
                class="next action-button"
                type="button"
                (click)="this.next() "
                              >
                {{ this.page === 2 ? "Submit" : "next" }}
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type == typeEnum.ENTREPRISE">
  <div class="container-fluid" id="msform">
    <div class="row justify-content-center">
      <div
        class="
          col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5
          text-center
          p-0
          mt-3
          mb-2
          body-form
        "
      >
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3 body-form2">
          <h2 id="heading">veulliez vous inscrire</h2>
          <p>remplir le formulaire ci-dessous</p>
            <ul id="progressbar">
              <li
                [ngClass]="{ active: this.page === 0 }"
                class="active"
                id="account"
              >
                <strong>1. Administrateur utilisateur</strong>
              </li>
              <li [ngClass]="{ active: this.page === 1 }" id="profile">
                <strong>2. Administrateur profile </strong>
              </li>
              <li [ngClass]="{ active: this.page === 2 }" id="personal">
                <strong>3. Les services</strong>
              </li>
              <li [ngClass]="{ active: this.page === 3 }" id="payment">
                <strong>4. Documentation</strong>
              </li>
            </ul>
            <div class="progress">
              <div
                class="
                  progress-bar progress-bar-striped progress-bar-animated
                "
                [style]="{ width: ((this.page + 1) / 4) * 100 + '%' }"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <br />

            <div
              [ngClass]="{ tab: true, active: this.page === 0 }"
              [hidden]="this.page !== 0"
            >
            <form  [formGroup]="formEntreprise" >
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Account Information:</h2>

                </div>
                <div class="col-5">
                  <h2 class="steps">Step 1 - 4</h2>
                </div>

              </div>
              <div class="columns">
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">prénom</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre prénom"
                      formControlName="lastname"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">nom</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre nom"
                      formControlName="name"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">adresse e-mail</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre adresse e-mail"
                      formControlName="adresseemail"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">numéro de téléphone</mat-label
                    ><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre numéro de téléphone"
                      formControlName="numtel"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item" style="margin-top: 40px">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width"
                  >
                    <mat-label>Type piéce d'identité</mat-label>
                    <mat-select
                      ngModel
                      formControlName="pjControl"
                      required
                    >
                      <mat-option
                        *ngFor="let piece of piece"
                        [value]="piece.value"
                      >
                        {{ piece.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="item" style="margin-top: -20px">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname"
                      >numéro de piéce d'identité</mat-label
                    ><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre numéro de téléphone"
                      formControlName="numpiece"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width"
                  >
                    <mat-label>La date d'expiration de la carte </mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dateexp"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="item" style="margin-top: -20px">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">Adresse</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre numéro de téléphone"
                      formControlName="adresse"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
            </div>

            <div
              [ngClass]="{ tab: true, active: this.page === 2 }"
              [hidden]="this.page !== 1"
            >
            <form  [formGroup]="formEntreprise2">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Account Information:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 1 - 4</h2>
                </div>
              </div>
              <div class="columns">
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">prénom</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre prénom"
                      formControlName="lastnameprof"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">nom</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre nom"
                      formControlName="nameprof"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">adresse e-mail</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre adresse e-mail"
                      formControlName="adressemailprof"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="item">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">numéro de téléphone</mat-label
                    ><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre numéro de téléphone"
                      formControlName="numtelprof"
                      required
                    />
                  </mat-form-field>
                </div>
                <div style="margin-top: -20px">
                  <mat-form-field class="example-full-width">
                    <mat-label for="lname">Adresse</mat-label><br />
                    <input
                      ngModel
                      id="lname"
                      matInput
                      placeholder="taper voitre numéro de téléphone"
                      formControlName="adresseprof"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
            </div>
            <div
              [ngClass]="{ tab: true, active: this.page === 2 }"
              [hidden]="this.page !== 2"
            >
              <h3>Step three</h3>
              <div
                *ngIf="this.services !== null"
                style="background-color: gray !important"
              >
                <div *ngFor="let service of this.services">
                  <div class="tryit">
                    <mat-slide-toggle (change)="addService(service)">
                      {{ service.identifier }}
                      {{ service.price }}
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <span class="price">
                Price:
                <span class="price-number">{{ getFinalPrice() }}</span>
              </span>
            </div>

            <div
              [ngClass]="{ tab: true, active: this.page === 3 }"
              [hidden]="this.page !== 3"
            >
            <form [formGroup]="formEntrepriseDocs">
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Import des documents :</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 3 - 4</h2>
                  </div>
                </div>

                <div *ngIf="this.documents !== null">
                  <div>
                    <ol>
                      <li
                        *ngFor="let idoc of this.documents"
                        (toggle)="adddoc(idoc)"
                        class="file-upload"
                      >
                        <div>
                          <label class="fieldlabels"
                            >Importer {{ idoc.name }}:</label
                          >
                          <input type="file" id="upload" hidden    (change)="onFileChange($event)"   formControlName="file"
                          />
                          <div *ngIf="f.file.touched && f.file.invalid && f.file.errors!==null" class="alert alert-danger">
                            <div *ngIf="f.file.errors.required">File is required.</div>
                        </div>
                          <label class="label-name" for="upload"
                            >Séléctionner le(s) fichier(s)</label
                          >
                          <span id="file-chosen"
                            >Aucun fichier séléctionné</span
                          >
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <div class="button_div">
              <button
                type="button"
                class="previous action-button-previous"
                (click)="back()"
                [disabled]="this.page < 1"
              >
                <i class="bi bi-arrow-right-circle"></i>prev
              </button>
              <button
                class="next action-button"
                type="button"
                (click)=" this.submit(); this.next2() "
              >
                {{ this.page === 4 ? "Submit" : "next" }}
              </button>
               <span class="text-danger" *ngIf=" submitted && !this.formEntreprise.valid"> formulaire n'est pas rempli </span>
               <span class="text-danger" *ngIf=" submitted2 && !this.formEntreprise2.valid"> formulaire n'est pas rempli waaaaaaaaaa </span>
               <span class="text-danger" *ngIf=" submitted3 && this.selectedServices.length==0">Il faut séléctionner au moins un service! </span>
               <span class="text-danger" *ngIf=" submitted4 &&  this.myFiles.length==0"> Il faut importer au moins un fichier!</span>


               <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                <button type="button" class="close font__size-18" data-dismiss="alert">
                        <span aria-hidden="true" id="danger">
                          <i class="fa fa-times danger " ></i>
                        </span>
                        <span class="sr-only">Close</span>
                      </button>
                <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                <strong class="font__weight-semibold">Oh oh!</strong> rempli le formulaire afin de pase
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
