
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <title>Document</title>
    <body>
      <div class="login-root">
        <div class="emplacement">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-content">
                                <div class="service-icon">
                                    <span><i class="fa fa-globe"></i></span>
                                </div>
                                <h3 class="title">Entreprise</h3>
                            </div>
                            <p class="description">Consultez nos <strong style="color:rgb(54, 54, 54)"> offres d'accompagnement</strong> spécifique</p>
                            <br>
                            <button type="button" [routerLink]="'/sign-up/' + routeType.ENTREPRISE" class="btn btn-outline-secondary">inscription</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox ">
                            <div class="service-content">
                                <div class="service-icon">
                                    <span><i class="fa fa-users" aria-hidden="true"></i></span>
                                </div>
                                <h3 class="title">Candidat</h3>
                            </div>
                            <p class="description">Découvrez nos dérnieres <strong style="color:rgb(54, 54, 54);"> publication financiéres</strong> et nos dernieres<strong style="color:rgb(54, 54, 54);"> actualités</strong>.</p>
                              <BR>
                            <button type="button" [routerLink]="'/sign-up/' + routeType.CANDIDAT" class="btn btn-outline-secondary" (click)="click()">inscription</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>
